.row-header {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  color: var(--color2);
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  color: var(--color3);
}

.row-input {
  margin: 0px auto;
  padding: 10px 0px 10px 0px;
  color: var(--color3);
}

.deadline {
  text-decoration: line-through;
  text-decoration-color: red;
}

.list-group-item {
  background: var(--color1);
}

.task-label {
  cursor: pointer;
}

.title-style {
  cursor: pointer;
}

.check-style {
  color: var(--color2);
}

button {
  margin: 1px;
  text-align: center;
}

form {
  color: var(--color3);
}

.input-margin {
  margin: 0 20px 0 0;
  width: 280px;
}

.add-button-style {
  width: 50px;
  height: 50px;
}
